@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body{
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

body * {
    box-sizing: border-box;
}

.main-login{
    width: 100vw;
    height: 100vh;
    background-color: #251C1E;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login > h1{
    color: #FEAFBE;
    font-size: 2vw;
}

.left-login-image{
    width: 25vw;
}

.right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 55px;
    background-color: #703945;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #633c44af;
}

.card-login > h1{
    color: #f3ce72;
    font-weight: 800;
    margin: 0;
}

.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background-color: #ec907ecc;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #472128af;
    outline: none;
    box-sizing: border-box;
}

.textfield > label{
    color: #DBB75C;
    margin-bottom: 10px;
}

.textfield > input::placeholder{
    color: #472128af;
}

/* botao de login */
.btn-login{
    width: 100%;
    padding: 16px 0px;
    margin:25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #251C1E;
    background-color: #B3DFD3;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #301419af;
}

/* outras telas menores */
@media only screen and (max-width: 950px){
    .card-login{
        width: 85%;
    }
}
/* para celular */
@media only screen and (max-width: 600px){
    .main-login{
        flex-direction: column;
    }
    .left-login > h1{
        display: none;
    }

    .left-login{
        width: 100%;
        height: auto;
    }

    .right-login{
        width: 100%;
        height: auto;
    }

    .left-login-image{
        width: 50vw;
    }

    .card-login{
        width: 90%;
    }
}