body {
    margin: 0;
    width: 100%;
    /*background: url(background_paladins.jpg) center/cover;*/
    background-color:#495f9c;
}

body *{
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.main-paladins{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-left {
    width: 50%;
    background-color: #ebebf5ea;
    box-shadow: 0px 0px 20px 5px #1b4c7c;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 35px;
    gap: 20px;
}

.card-left > h1{
    margin: 0;
    font-size: 40pt;
    font-weight: 800;
    letter-spacing: 5px;
    color: #163b61;
    text-shadow: 0px 0px 2px #0e2b47;
}

.card-left > h2{
    margin: 0;
    font-size: 25pt;
    font-weight: 500;
    letter-spacing: 10px;
    color: #205c97;
    text-shadow: 0px 0px 2px #0e2b47;
}

.card-left > p{
    font-size: 14pt;
}

.textfield{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.textfield > label{
    width: 100%;
    outline: none;
    font-size: 12pt;
}

.textfield > input{
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    border-radius: 8px;
    border: none;
    box-shadow:0px 0px 3px #170730;
    outline: none;
}

.btn-login{
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    border: none;
    box-shadow:0px 0px 3px black;
    cursor: pointer;
}

.card-right{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 35px;
    border-radius: 20px;
    gap: 20px;
}
