body {
    margin: 0;
    width: 100%;
    /*background: url(background_paladins.jpg) center/cover;*/
    background-color:#121e36;
}

body *{
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.main-paladins{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
  
}

.right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;

}

.card-left{
    width: 50%;
    background-color:#4A3D57;
    box-shadow: 10px 10px 30px 10px #040308;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 35px;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 20px;
}

.card-left > h1{
    margin: 0;
    font-size: 40pt;
    font-weight: 800;
    letter-spacing: 5px;
    color:#199393;
    text-shadow: 0px 0px 5px #0e2b47;
}

.card-left > p{
    font-size: 14pt;
}

.textfield{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 5px 0px;
}

.textfield > label{
    width: 100%;
    outline: none;
    font-size: 14pt;
    padding: 4px;
    color:#199393;
}

.textfield > input{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 8px;
    border: none;
    box-shadow:0px 0px 2px #170730;
    outline: none;
    background-color: #144fa1be;
}

.textfield > input::placeholder{
    color: rgb(169, 175, 180)
}

.btn-login{
    width: 100%;
    border-radius: 5px;
    border: none;
    box-shadow:0px 0px 3px #102064;
    cursor: pointer;
    background-color:#36b34bda;
    color: white;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 3px;
    height: 40px;
    margin:15px;
}

.evil-mojo-logo{
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.evil-mojo-logo > img{
    width: 70px;
    height: 60px;
}

.right-login > h1{
    font-size: 30pt;
    color:#17558f;
}

.links-login{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.item-1 > a{
    color:#17558f;
}

.card-right{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}

.right-login > img{
    width: 400px;
    height: 200px;
    filter: drop-shadow(0px 0px 10px #17558f);
}
